<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>2013</h1>
            <img src=".\images\2013\Psych-fest-Denver2013.jpg" alt="" class="img-fluid">
            <h3>Poster Design: <a href="http://brooxpulford.com/">Broox Pulford</a></h3>
            <img src=".\images\2013\1274827_188985181306845_1047771123_o.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h2>Lineup</h2>
          <div class="row">
              <ul>
                  <li>Hearts In Space</li>
                  <li>Thee Dang Dangs</li>
                  <li>Snake Island</li>
                  <li>Varlet</li>
                  <li>Tjutjuna</li>
                  <li>The Morning Clouds</li>
                  <li>The Blue Rider</li>
                  <li>Deep Space</li>
                  <li>Colfax Speed Queen</li>
                  <li>Emerlad Siam</li>
                  <li>Max Pain and the Groovies</li>
                  <li>Canyonlands</li>
                  <li>Thug Entrancer</li>
                  <li>Black Tabs</li>
                  <li>Shady Elders</li>
                  <li>Rubedo</li>
                  <li>Megafauna</li>
                  <li>Modrag</li>
                  <li>Drug Flowers</li>
                  <li>Twin Peaks</li>
                  <li>Ned Garthe</li>
              </ul>
          </div>
          <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/8200703&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </div>
    </div>
</div>
