<div class="container">
    <div class="row">
      <div class="col-md-6">
          <h1>Synesthesia<br> Denver Psych Fest<br> August 16th 2014</h1>
          <img src="images/2014/Denver-psych-fest-schdule-final.jpg" alt="Synesthesia Denver Psych Fest 2014" class="img-fluid">
          <h3>Poster Design: Jeromie Dorrance</h3>
          <img src=".\images\2014\IMG_8724edit.JPG" alt="" class="img-fluid">
          <div class="row">
              <h2>2014 Sponsors</h2>
              <h3>Red Bull, Sailor Jerry, Pabst Blue Ribbon, City o City, OpenAir 1340</h3>
              <h3>Venues:
              Savoy,
              Larimer Lounge,
              the Meadowlark</h3>
          </div>

      </div>
        <div class="col-md-6">
            <h2>Lineup</h2>
            <div class="row">
                <ul>
                    <li>Cosmonauts (CA)</li>
                    <li>The Vacant Lots (VT)</li>
                    <li>Guy Blakeslee</li>
                    <li>Snake Rattle Rattle Snake</li>
                    <li>Tjutjuna</li>
                    <li>Prism Waves</li>
                    <li>RUMTUM</li>
                    <li>Paw Paw</li>
                    <li>Colfax Speed Queen</li>
                    <li>Pale Sun</li>
                    <li>Snake Island (Omaha, NB)</li>
                    <li>Fingers of the Sun</li>
                    <li>Thug Entrancer</li>
                    <li>Male Blonding</li>
                    <li>Max Pain and the Groovies (SLC, UT)</li>
                    <li>Lone Dancer</li>
                    <li>The Riprats</li>
                    <li>Bloodhound</li>
                    <li>Wild High</li>
                    <li>The Kinky Fingers</li>
                    <li>The Ned Garthe Explosion</li>
                    <li>Taverns</li>
                    <li>Iconoplasty</li>
                    <li>Sunboy</li>
                    <li>Indigenous Robot</li>
                    <li>Heavy Dose Djs</li>
                    <li>Manzoon</li>
                    <li>Ancient Elk</li>
                    <li>deCollage</li>
                    <li>Hair Cult</li>
                    <li>Alex Anderson / Nasty Nachos</li>
                    <li>Under Acr</li>
                    <li>(((& More)))</li>
                </ul>
            </div>
            <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/44945346&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </div>
    </div>
