<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Synesthesia Denver Psych Fest August 15th 2015 Presented by LivWell</h1>
            <div class="row">
                <h3>Moon Duo The Fresh & Onlys Holy Wave Snake Rattle Rattle Snake Turbo Fruits RUMTUM Plum Paw Paw Wild High Sunboy The Blue Rider Pale Sun Calm Fur Think no Think Emerald Siam Ancient Elk Taverns déCollage Psychotic Reaction Hair Cult Colfax Speed Queen Heira Nova Chocolate Diamond Euforquestra G-Nat Gates Oko Tygra Ghoulfriend LZR WLF The Kappa Cell Heavy Dose Djs KAVA Freaky North Dirty Few Holy Glories Greenbeard NastyNachos <br>2015 Festival Venues: The Big Wonderful The Savoy at Curtis Park The Meadowlark Larimer Lounge DATELINE
                </h3>
                
            </div>
            <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/111224589&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </div>
        <div class="col-md-4"></div>
    </div>
