<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Synesthesia<br> Denver Psych Fest<br> August 15th 2015<br> Presented by LivWell</h1>
            <img src="Images/2015/2015-schedule.jpg" alt="Synesthesia Denver Psych Fest 2015" class="img-fluid">
            <h3>Poster Design: G-Nat / Jeromie Dorrance</h3>
            <img src="Images\2015\Psychfest-43-XL.jpg" alt="Synesthesia Denver Psych Fest 2015" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h2>Lineup</h2>
          <ul>
            <li>Moon Duo</li>
            <li>The Fresh & Onlys </li>
            <li>Holy Wave</li>
            <li>Snake Rattle Rattle Snake</li>
            <li>RUMTUM</li>
            <li>Turbo Fruits</li>
            <li>Plum</li>
            <li>The Blue Rider</li>
            <li>Pale Sun</li>
            <li>Emerald Siam</li>
            <li>Sunboy</li>
            <li>Think no Think</li>
            <li>Colfax Speed Queen</li>
            <li>Ancient Elk</li>
            <li>Psychotic Reaction</li>
            <li>Wild High</li>
            <li>Taverns</li>
            <li>Paw Paw</li>
            <li>Calm Fur</li>
            <li>Hair Cult</li>
            <li>déCollage</li>
            <li>Heira Nova</li>
            <li>Heavy Dose DJs</li>
            <li>Chocolate Diamond</li>
            <li>Gates</li>
            <li>Ghoulfriend</li>
            <li>Oko Tygra</li>
            <li>G-Nat</li>
            <li>Greenbeard</li>
            <li>Euforquestra</li>
            <li>NastyNachos</li>
            <li>Dirty Few</li>
            <li>Holy Glories</li>
            <li>Freaky North</li>
            <li>The Kappa Cell</li>
            <li>LZR WLF</li>
          </ul>
          <br><p>2015 Festival Venues: The Big Wonderful - The Savoy at Curtis Park - The Meadowlark - Larimer Lounge - DATELINE Gallery</p>
          <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/111224589&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </div>
    </div>
