<h1>Synesthesia
Denver Psych Fest
August 15th 2015
Presented by LivWell</h1>

<p>Moon Duo
The Fresh & Onlys
Holy WaveHoly Wave
Snake Rattle Rattle Snake
Turbo Fruits
RUMTUM
Plum
Paw Paw
Wild High
Sunboy
The Blue Rider
Pale Sun
Calm Fur
Think no Think
Emerald Siam
Ancient Elk
Taverns
déCollage
Psychotic Reaction
Hair Cult
Colfax Speed Queen
Heira Nova
Chocolate Diamond
Euforquestra
G-Nat
Gates
Oko Tygra
Ghoulfriend
LZR WLF
The Kappa Cell
Heavy Dose Djs
KAVA
Freaky North
Dirty Few
Holy Glories
Greenbeard

2015 Festival Venues:

The Big Wonderful
The Savoy at Curtis Park
The Meadowlark
Larimer Lounge
DATELINE</p>