<div class="container" >
    <div class="row">
        <div class="col-md-6">
          <h1>Synesthesia X UMS<br> July 29th 2017<br> Presented by LivWell</h1>
          <img src=".\Images\2017\ums_toprint_rgb.jpg" alt="UMS x Synesthesia Denver 2017" class="img-fluid">
          <h3>Poster Design: Vinyl Williams</h3>
          <img src=".\Images\2017\Saturday_VinylWilliams_UMS2017_JuliWilliams-28.jpg" alt="UMS x Synesthesia Denver 2017" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h1>2017</h1>
                <p>We are very excited to announce that Synesthesia will be making its long overdue and epic return this summer at the The Underground Music Showcase (UMS)! On Saturday July 29th, we will be bringing you a masterclass in music designed to take you through space, time, and into your head. We've assembled a line-up to honor and pay tribute to Denver Psych Fest, the Colorado psychedelic music scene, and a bunch of world class bands.</p>
                <p>Prepare yourself to be taken away to other worlds as DéCollage, King Eddie, Freaky North, and Pale Sun guide us through a hypnotic journey of the senses. Then get ready as Vinyl Williams brings a celestial space storm followed by the triumphant return of Sleepy Sun. Flaural will be playing a special late night set to finish off the night. Visuals will be provided by DenVR and orchidz3ro.</p>
                <p>On top of all this Shady Elders will be performing for the last time in what is sure to be a stunning, not-to-be-missed set from a band we are not ready to say goodbye to just yet.</p>
        </div>
    </div>
</div>
