<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h1>Contact</h1>
      <h3>TICKETING & CUSTOMER SERVICE</h3>
      <p>Tickets are not On Sale.</p>
      <h3>MEDIA AND PRESS PASSES</h3>
      <p>We welcome Media & Press to our events! Please contact us at <a title="Email Us" href="mailto:contact@Synesthesia-Denver.com">Contact@Synesthesia-Denver.com</a> for a pass and include the following information.
        <br> 1) Name, Phone Number & Email Address
        <br>2) Name of Publication & Website
        <br>3) Description of planned coverage
        <br>4) How many passes you require to cover the event.
        <br>5) Interview Requests ( Artist + Promoter )
      </p>
      <h3>VENDORS</h3>
      <br>
      <p>Vendors are essential to the festival atmosphere! <br>Please contact us at <a title="Email Us" href="mailto:contact@Synesthesia-Denver.com"> Contact@Synesthesia-Denver.com</a></p>
      <br>
      <h3>SPONSORS AND PARTNERSHIPS</h3> <br><p>We love Partners and Sponsors! <br>Please contact us at <a title="Email Us" href="mailto:contact@Synesthesia-Denver.com"> Contact@Synesthesia-Denver.com</a></p>
      <br>
      <h3>VOLUNTEER</h3>
      <p>Volunteer signups for Denver Psych Fest are currently active! <br>Please contact us at <a title="Email Us" href="mailto:contact@Synesthesia-Denver.com"> Contact@Synesthesia-Denver.com</a> <br>Like us on <a href="https://www.facebook.com/DenverPsychFest">Facebook</a>
        Follow Us on <a href="https://twitter.com/denverpsychfest">Twitter</a> </p>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
