
        <h1>Contact Page</h1>

        <p>TICKETING & CUSTOMER SERVICE

Tickets are On Sale for August 15th, 2015. Here

MEDIA AND PRESS PASSES

We welcome Media & Press to our events!

Please contact us at contact@denverpsychfest.com for a pass and include the following information.

1) Name, Phone Number & Email Address
2) Name of Publication & Website
3) Description of planned coverage
4) How many passes you require to cover the event.
5) Interview Requests ( Artist + Promoter )

VENDORS

Vendors are essential to the festival atmosphere, please contact us at contact@denverpsychfest.com

SPONSORS AND PARTNERSHIPS

We love Partners and Sponsors! , please contact us at contact@denverpsychfest.com

VOLUNTEER

Volunteer signups for Denver Psych Fest are currently active! Please contact us at contact@denverpsychfest.com

Like us on Facebook: https://www.facebook.com/DenverPsychFest

Follow Us on Twitter: https://twitter.com/denverpsychfest</p>