<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
                    <h1>Contact Page</h1>

<h3>TICKETING & CUSTOMER SERVICE</h3>

Tickets are not On Sale.

<h3>MEDIA AND PRESS PASSES</h3>

<p>We welcome Media & Press to our events!

Please contact us at contact@denverpsychfest.com for a pass and include the following information.

1) Name, Phone Number & Email Address
2) Name of Publication & Website
3) Description of planned coverage
4) How many passes you require to cover the event.
5) Interview Requests ( Artist + Promoter )</p>

<h3>VENDORS</h3>

Vendors are essential to the festival atmosphere, please contact us at contact@denverpsychfest.com

<h3>SPONSORS AND PARTNERSHIPS</h3>

We love Partners and Sponsors! , please contact us at contact@denverpsychfest.com

<h3>VOLUNTEER</h3>

<p>Volunteer signups for Denver Psych Fest are currently active! Please contact us at contact@denverpsychfest.com

Like us on Facebook: https://www.facebook.com/DenverPsychFest

Follow Us on Twitter: https://twitter.com/denverpsychfest</p>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>