<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 footerleft ">
            <div class="logofooter">Synesthesia | Denver Psych Fest</div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
            <p>
                <i class="fa fa-map-pin"></i> 210, Aggarwal Tower,
            </p>
            <p>
                <i class="fa fa-phone"></i> Phone
            </p>
            <p>
                <i class="fa fa-envelope"></i> E-mail : info@site.com</p>

        </div>
        <div class="col-md-2 col-sm-6 paddingtop-bottom">
            <h6 class="heading7">LINKS</h6>
            <ul class="footer-ul">
                <li>
                    <a href="#/contact">Contact</a>
                </li>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
                <li>
                    <a href="#">Terms & Conditions</a>
                </li>
                <li>
                    <a href="#">Sponsorship</a>
                </li>
                <li>
                    <a href="#">Volunteer</a>
                </li>
                <li>
                    <a href="https://www.theums.com">UMS</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 paddingtop-bottom">
            <h6 class="heading7">LATEST POST</h6>
            <div class="post">
                <p>facebook crack the movie advertisment code:what it means for you
                    <span>August 3,2015</span>
                </p>
                <p>facebook crack the movie advertisment code:what it means for you
                    <span>August 3,2015</span>
                </p>
                <p>facebook crack the movie advertisment code:what it means for you
                    <span>August 3,2015</span>
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 paddingtop-bottom">
            <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/facebook">
                        <a href="https://www.facebook.com/DenverPsychFest/">Facebook</a>
                    </blockquote>
                    <blockquote cite="https://www.facebook.com/facebook">
                        <a href="https://www.facebook.com/facebook">Instagram</a>
                    </blockquote>
                    <blockquote cite="https://www.facebook.com/facebook">
                        <a href="https://twitter.com/DenverPsychFest">Twitter</a>
                    </blockquote>
                    <blockquote cite="https://www.facebook.com/facebook">
                        <a href="https://www.facebook.com/facebook">Snap</a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>


