<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col-12 col-md-auto">
            <h1>Synesthesia | Denver Psych Fest</h1>
        </div>
        <div class="col col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col col-lg-2"></div>
        <div class="col-8 col-md-auto">
            <p>Synesthesia is a unique music festival and experience. It's founders are dedicated to bringing unique musicians and arists together to create an unforgetable vibe for the attendees. {{ message }}</p>
        </div>
        <div class="col col-lg-2"></div>
    </div>
</div>
