<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Images</h1>
            <h2>2015</h2>
            <a href="http://marqueemag.com/2015/08/photos-synesthesia-denver-psych-fest-081515/" target="_blank">Marquee Mag</a>

            <a href="http://www.heyreverb.com/blog/2015/08/17/synesthesia-2015-brings-psych-police-big-crowds-to-rino-in-denver/106946/#37" target="_blank">Denver Post</a>

            <h2>2014</h2>
            <a href="http://www.heyreverb.com/blog/2014/08/18/denver-psych-fest-2014-photos-vacant-lots-cosmonauts-tjutjuna-review/93507/" target="_blank">Denver Post</a>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
