
    <h1>Synesthesia Festival :: Denver Psych Fest :: Promoting Psychedelic, Rock, Experimental and Electronic music events in Denver Culminating in an annual Boutique Independent Music, Film, Food, and Art Festival.

*This Festival is not associated with any other “Psych” festivals*</h1>



<h3>Press & Reviews:</h3>

<h3>2015</h3>
<a href="http://theknow.denverpost.com/2015/08/17/synesthesia-2015-brings-psych-police-big-crowds-to-rino-in-denver/106946/106946/#9">Denver Post / Reverb Review</a>

<a href="http://www.westword.com/music/synesthesia-2015-overcame-more-than-its-share-of-obstacles-7036155">Westword Review</a>

<a href="http://marqueemag.com/2015/08/photos-synesthesia-denver-psych-fest-081515/">The Marquee Magazine</a>

<h3>2014</h3>

<a href="http://www.heyreverb.com/blog/2014/08/18/denver-psych-fest-2014-photos-vacant-lots-cosmonauts-tjutjuna-review/93507/">DPF 2014 Review</a>
<a href="http://www.denverpost.com:80/entertainment/ci_26331471/denver-psych-fest-grows-rino-district">Pre Show 2014 – Denver Post</a>

<a href="http://www.westword.com/music/denver-psych-fest-proved-the-diversity-of-denvers-modern-psychedelic-music-scene-5672727">DPF 2014 Review – Westword</a>
