<div class="container" >
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Sponsorship</h1>
            <br>
            <h3>We have had successful partnerships with these great brands in the past and are open to working with your brand as well!</h3>
              <p>LivWell, Red Bull, Sailor Jerry, Pabst Blue Ribbon, Pabst ART, MCA Denver, City o City, OpenAir 1340, Bulleit Bourbon, Tito's Vodka, Dateline Gallery, Red Stripe Beer, Fancy Tiger Clothing & more!</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
